<h1> <%= params[:action] == 'edit' ? 'Edit product' : 'New product' %> </h1>

<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |em| %>
    <%= em %>
  <% end %>
<% end %>

<%= form_with model: @product do |f| %>
  <%= f.label :product_name %>
  <%= f.text_field :name %>

  <%= f.label :product_description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.number_field :price %> <br>

  <%= f.submit %>

<% end %>